@charset "UTF-8";
/* popupform*/
#popupform{
    position: absolute;
    left: 40%;
    top: 20%;
    /* align-content: center; */
    /* margin-left: -563px; */
    z-index: 1000;
    background-color: black;
    color: white;
}
b{
	color: white;
	float: right;
}
#divpop1 > img{
	width: 200px; 
	height: 200px; 
	margin: 20px 60px;
}
#divpop1 > h3 {
	margin: 20px 0 0 0;
}
