@charset "UTF-8";

/*===========================================================================
common
=============================================================================*/
html,
body {
    height: 100%;
    
}

html,body,h1,ol,ul,li,div,h2 {
    margin: 0;
    padding: 0;
}

/* body * {
    outline: 3px dotted tomato;
} */

a {
    color: black;
    text-decoration: none;
    
}
ul,ol,li{
    list-style: none;
 
}
