@charset "UTF-8";
/*===========================================================================
topbutton
=============================================================================*/
#topButton {
	position: fixed;
	right: 10%;
	bottom: 50px;
	display: none;
	z-index: 999;
    overflow: hidden;
}
#topButtonImg {
	width: 80px;
	height: 80px;	
	border-radius: 70%;
    object-fit: cover;
}
#reserveButtonImg{
    width: auto;
    height: 65px;
}