@charset "UTF-8";
/*===========================================================================
관심매장, 예매, 회원탈퇴
=============================================================================*/
/* 3가지 버튼 박스 */
.mySide div {
    height: fit-content;
}

.mySide {
	position : absolute;
	top:0;
    left: -123px;
    width : 10%;
    height : fit-contents;
}
/* 버튼 폰트사이즈 
   자동 줄 바꿈 없앰*/
.mySide a {
	font-size : 20px;
	white-space:nowrap;
}

.contents {
	position:relative;
}


