@charset "UTF-8";

.contents {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding-top: 13px;
}

/*===========================================================================
common
=============================================================================*/
html,
body {
    height: 100%;
    
}

html,body,h1,ol,ul,li,div,h2 {
    margin: 0;
    padding: 0;
}

/*  body * {
    outline: 3px dotted tomato;
} */

a {
    color: black;
    text-decoration: none;
    
}
ul,ol,li{
    list-style: none;
 
}

/*===========================================================================
container
=============================================================================*/
.contaniner {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #000;

}

.banner {
    width: 100%;
    height: 100%;
    background: url(../images/exPoster1.png) no-repeat center;
    background-size: 50% 50%;
 
}

/*===========================================================================
chart
=============================================================================*/
.chart {
    width: 100%;
    height: fit-content;
}

.chart .contents {
    height: 50%;
    padding: 50px 30px 60px;

}

.chart a {
    font-size: 26px;
}

.movieChart {
    margin: 0 0 20px 0;
}

.posters {
    height: 295px;
    display: flex;
    justify-content: space-around;
}

.posters :nth-child(2) {
    margin: 0 32px;

}

.posters :nth-child(4) {
    margin: 0 32px;

}

.posterWrap {
    width: 20%;

}

.posterWrap img {
    /* 이미지 임시 표시 */
    outline: 1px solid #708090;

}

.movieImage {
    height: 80%;

    /* 이미지 임시 표시 */
    outline: 1px solid #708090;
}
/*추가*/
body {
	margin: 20px;
}
label {
	display:inline-block; 
	width:150px;
}
.form-control {
	display:inline-block; 
	width:auto;
}
hr {
	clear:both;
}
.left {
	float:left;
	padding-right: 20px;
}
.right {
	float:right;
	padding-right: 20px;
}
.formDiv {
	height: 330px;
	width: 700px;
	margin: 0 auto;
	margin-top: 150px;
	padding: 25px;
}